.jimu-main-background{
  background-color: #292929;
}
.jimu-on-screen-widget-panel>.jimu-panel-title{
  color: white;
  background-color: #292929;
}
.esriPopup .titlePane {
  background-color: #292929;
}